/*
░░░░░██╗░█████╗░░██████╗███████╗
░░░░░██║██╔══██╗██╔════╝██╔════╝
░░░░░██║██║░░██║╚█████╗░█████╗░░
██╗░░██║██║░░██║░╚═══██╗██╔══╝░░
╚█████╔╝╚█████╔╝██████╔╝███████╗
░╚════╝░░╚════╝░╚═════╝░╚══════╝*/

body{
    background-image: url(../Imagenes/fondo.jpg);
    font-family: tahoma;
    font-size: 0.85em;
    font-style: italic;
    text-align: center;
    margin: 25px;
}

@font-face {
    font-family: 'CandyCane';
    src: url(../Fuentes/CandyCane.ttf);
}

main{
    color: #5C6884;
}

h1{
    font-family: 'CandyCane';
    color: #5C6884;
    text-align: center;
    font-variant: small-caps;
    background-color:#F7D1CF;
    font-style: italic;
    padding: 10px;
    font-size: 60px;
}

div{
    color:#5C6884;
    font-variant: small-caps;
    font-weight: bold;
    background-color: #F7D1CF;
    margin: 15px;
    margin-top: -50px;
    font-size: 20px;
}

footer{
    text-align: right;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #F7D1CF;
    color: #5C6884;
    margin-top: 40px;
    padding: 5px;
}

main{
    background-color: #F7D1CF;
    padding-bottom: 2px;
}

img{
    margin: 40px;
    width: 1040px;
    height: 440px;
}

h3{
    margin-bottom: -5px;
}