.container{
    width: 55%;
    margin:0 auto;
    }
    table{
    border: 1px solid black;
    margin-top:3em;
    width: 900px;
    background-color: rgb(174, 232, 243);
    }
    
    
    td{
    text-align: center;
    height: 17px ;
    border: 1px solid black;
    }
    
    th{
    text-align: center;
    height: 17px ;
    border: 1px solid black;
    color:#001247;
    }