/*
░░░░░██╗░█████╗░░██████╗███████╗
░░░░░██║██╔══██╗██╔════╝██╔════╝
░░░░░██║██║░░██║╚█████╗░█████╗░░
██╗░░██║██║░░██║░╚═══██╗██╔══╝░░
╚█████╔╝╚█████╔╝██████╔╝███████╗
░╚════╝░░╚════╝░╚═════╝░╚══════╝*/

/*Estilos para el body*/
body {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/*Estilos para el formulario*/
form {
    border: solid 1px black;
    padding: 10px;
    background-color: aliceblue;
}



